.InputComponent {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
        "note button"
        "tags button";
}

.editDiv {
    grid-area: note;
    height: 1.2em;
    border: 1px solid black;
    margin-bottom: 5px;
}

.editTags {
    grid-area: tags;
}

.addNote-button {
    grid-area: button;
    width: 3rem;
    
    background: url('./images/insert.png') no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 5px;
}